{% extends "layout.html" %}


{% block insidehead %}
{% endblock %}


{% block body %}

<div class="main">

  <nav id="sidebar">  
    <div class="sidebar-logo-area">
        <img class="logo-div" src="branding/logo.jpg">
        <button id="menuButtonClose" type="button" class="sidebar-close-btn init-hidden close" aria-label="Close">x</button>
    </div>
    <ul class="list-unstyled components">
        <li><a class="nav-link" href="home"><i class="fa fa-fw fa-home"></i> {{_('Home')}}</a></li>

        {% if info_data['is_authenticated'] == true and current_user.get_type()|int() == user_types['ADMIN']|int() %}
            <li><a class="nav-link" href="setup"><i class="fa fa-fw fa-keyboard-o"></i> {{_('Setup')}}</a></li>
            <li><a class="nav-link" href="profile"><i class="fa fa-fw fa-pencil"></i> {{_('Update')}}</a></li>
            <li><a class="nav-link" href="reservations"><i class="fa fa-fw fa-calendar"></i> {{_('Reservations')}}</a></li>
            <li><a class="nav-link" href="fines"><i class="fa fa-fw fa-dollar"></i> {{_('Fines')}}</a></li>
        {% elif info_data['is_authenticated'] == true %}
            <li><a class="nav-link" href="profile"><i class="fa fa-fw fa-pencil"></i> {{_('My Profile')}}</a></li>
            <li><a class="nav-link" href="reservations"><i class="fa fa-fw fa-calendar"></i> {{_('Reservations')}}</a></li>
        {% endif %}

        <li><a class="nav-link" href="announcs"><i class="fa fa-fw fa-bullhorn"></i> {{_('Announcements')}}</a></li>
        <li><a class="nav-link" href="docs"><i class="fa fa-fw fa-book"></i> {{_('Documents')}}</a></li>

        {% if info_data['is_authenticated'] == true and current_user.get_type() != 3 %}
            <li><a class="nav-link" href="upload" aria-selected="false"><i class="fa fa-fw fa-cog"></i> {{_('Maintenance')}}</a></li>
        {% endif %}

        <li><a class="nav-link" href="pics"><i class="fa fa-fw fa-picture-o"></i> {{_('Pictures')}}</a></li>
        <li><a class="nav-link" href="listings"><i class="fa fa-fw fa-list-ul"></i> {{_('Listings')}}</a></li>
        <li class="active"><a class="nav-link" href="about"><i class="fa fa-fw fa-info"></i> {{_('About')}}</a></li>

        {% include "info.html" %}
    </ul>
  </nav>

  <div class="content">
    {% include "mobile-menu.html" %}

    <div class="section-title" data-aos="zoom-out">
      <h2>{{ _('About') }}</h2>
    </div>

    <div class="about-style">
      <div class="center shadow bg-white rounded">
          <div class="about-body">
            <p>{{info_data['about_message']['title']}}</p>
            {% for line in info_data['about_message']['lines'] %}
              <br>
              {{line}}
            {% endfor %}
            <div class="spacer"></div>
            <div class="spacer"></div>

            {{ _('Feel free to explore our site and see what you could be missing.') }}

            <div class="spacer"></div>

            {{ _('Hope to see you soon!') }}

            <div class="spacer"></div>
            <div class="spacer"></div>

            {{ _("Here's where we are:") }}
            <h4>{{info_data['geo']['lat']}},  {{info_data['geo']['long']}}</h4>
            <div class="spacer"></div>
            
            <div class="map-responsive iframe-div">
              <iframe src="https://maps.google.com/maps?hl=en&amp;q={{info_data['address']}},{{info_data['condo_location']}}&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder='0' allowfullscreen></iframe>
            </div>
          </div>
      </div>


      <div style="margin: 100px;"></div>
      <div class="section-title" data-aos="zoom-out">
        <h2 style="font-size: 13px;">{{ _('Software Version and Date') }}</h2>
      </div>
      <div style="margin: 20px; font-size: 12px;">
         Version {{v_number}}, {{v_date}}
      </div>

    </div>

  </div> 

</div> <!-- close main -->
{% endblock %}
