{% extends "layout.html" %}

{% block insidehead %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/docs.css') }}">
{% endblock %}

{% block body %}

<div class="main">

    <nav id="sidebar">  
        <div class="sidebar-logo-area">
            <img class="logo-div" src="branding/logo.jpg">
            <button id="menuButtonClose" type="button" class="sidebar-close-btn init-hidden close" aria-label="Close">x</button>
        </div>

        <ul class="list-unstyled components">
          <li><a class="nav-link" href="home"><i class="fa fa-fw fa-home"></i> {{_('Home')}}</a></li>

          {% if info_data['is_authenticated'] == true and current_user.get_type()|int() == user_types['ADMIN']|int() %}
              <li><a class="nav-link" href="setup"><i class="fa fa-fw fa-keyboard-o"></i> {{_('Setup')}}</a></li>
              <li><a class="nav-link" href="profile"><i class="fa fa-fw fa-pencil"></i> {{_('Update')}}</a></li>
              <li><a class="nav-link" href="reservations"><i class="fa fa-fw fa-calendar"></i> {{_('Reservations')}}</a></li>
              <li><a class="nav-link" href="fines"><i class="fa fa-fw fa-dollar"></i> {{_('Fines')}}</a></li>
          {% elif info_data['is_authenticated'] == true %}
              <li><a class="nav-link" href="profile"><i class="fa fa-fw fa-pencil"></i> {{_('My Profile')}}</a></li>
              <li><a class="nav-link" href="reservations"><i class="fa fa-fw fa-calendar"></i> {{_('Reservations')}}</a></li>
          {% endif %}

          <li><a class="nav-link" href="announcs"><i class="fa fa-fw fa-bullhorn"></i> {{_('Announcements')}}</a></li>
          <li class="active"><a class="nav-link" href="docs"><i class="fa fa-fw fa-book"></i> {{_('Documents')}}</a></li>
    
          {% if info_data['is_authenticated'] == true and current_user.get_type() != 3 %}
              <li><a class="nav-link" href="upload" aria-selected="false"><i class="fa fa-fw fa-cog"></i> {{_('Maintenance')}}</a></li>
          {% endif %}
    
          <li><a class="nav-link" href="pics"><i class="fa fa-fw fa-picture-o"></i> {{_('Pictures')}}</a></li>
          <li><a class="nav-link" href="listings"><i class="fa fa-fw fa-list-ul"></i> {{_('Listings')}}</a></li>
          <li><a class="nav-link" href="about"><i class="fa fa-fw fa-info"></i> {{_('About')}}</a></li>

          {% include "info.html" %}
        </ul>
    </nav>
    

    <div class="content">
        {% include "mobile-menu.html" %}

        <div class="section-title" data-aos="zoom-out">
            <h2>{{_('View Documents')}}</h2>
        </div>
        
        <div class="spacer"></div>

        <p>{{_('If there are documents below, clicking it will open a second tab.')}}</p>

        <p>

        <fieldset>
            <legend>{{_('Bylaws')}}</legend>
            <div class="app-container">
                {% if bylaws is defined and bylaws %}
                    <div class="row">
                        {% for doc in bylaws %}
                            <div class="col-1 doc-col">
                                <a class="doc-link" href="docs/bylaws/{{doc}}" target="_blank"> {{doc}}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="spacer"></div>
                    <div class="no-item-msg">{{_("No bylaws documents uploaded yet.")}}</div>
                {% endif %}
            </div>

            {% if info_data['is_authenticated'] == true and current_user.get_type()|int() == user_types['ADMIN']|int() %}
                <div style="margin: auto; width: 400px; text-align: center;" class="mt-2">
                  <button  class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#add_new_bylaws" aria-expanded="false" aria-controls="collapseExample">
                      {{_("Open/Close To Upload a Bylaws")}}
                  </button>
                </div>
                <div class="app-container collapse" id="add_new_bylaws">
                  <div class="upload-browse">
                      <!--
                          <label for="bylaws" class="btn btn-info">Escolha um documento</label>
                          <input id="bylaws" style="display:none;" type="file"/>
                      -->
                      <input id="bylaws" type="file"/>
                      <button id="upload-button" onclick="uploadFileProgress('bylaws', 'bylaws', 'progressBar-bylaws')"> {{_("Upload a Bylaws")}}</button>
                      <progress id="progressBar-bylaws" value="0" max="100"/>
                  </div>
                </div>
            {% endif %}
        </fieldset>


        <div class="spacer"></div>
        <div class="spacer"></div>
        <p>

        <fieldset>
            <legend>{{_('Other Documents')}}</legend>
            <div class="app-container">
                {% if otherdocs is defined and otherdocs %}
                    <div class="row">
                        {% for doc in otherdocs %}
                            <div class="col-1 doc-col">
                                <a class="doc-link" href="docs/other/{{doc}}" target="_blank"> {{doc}}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="spacer"></div>
                    <div class="no-item-msg">{{_("No documents uploaded yet.")}}</div>
                {% endif %}
            </div>

            {% if info_data['is_authenticated'] == true and current_user.get_type()|int() == user_types['ADMIN']|int() %}
                <div style="margin: auto; width: 400px; text-align: center;" class="mt-2">
                  <button  class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#add_new_other_doc" aria-expanded="false" aria-controls="collapseExample">
                      {{_("Open/Close To Upload a Document")}}
                  </button>
                </div>
                <div class="app-container collapse" id="add_new_other_doc">
                    <div class="upload-browse">
                        <input id="otherdoc" type="file"/>
                        <button id="upload-button" onclick="uploadFileProgress('otherdoc', 'otherdoc', 'progressBar-otherdoc')"> {{_("Upload a Document")}}</button>
                        <progress id="progressBar-otherdoc" value="0" max="100"/>
                    </div>
                </div>
            {% endif %}
        </fieldset>

        <div class="spacer"></div>
        <div class="spacer"></div>

        <fieldset>
            <legend>{{_('Open View Documents')}}</legend>
            <div class="app-container">
                {% if opendocs is defined and opendocs %}
                <div class="row">
                    {% for doc in opendocs %}
                        <div class="col-1 doc-col">
                            <a class="doc-link" href="opendocs/files/{{doc}}" target="_blank"> {{doc}}</a>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                    <div class="spacer"></div>
                    <div class="no-item-msg">{{_("No documents uploaded yet.")}}</div>
                {% endif %}
            </div>

            {% if info_data['is_authenticated'] == true and current_user.get_type()|int() == user_types['ADMIN']|int() %}
                <div style="margin: auto; width: 400px; text-align: center;" class="mt-2">
                  <button  class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#add_new_open_view" aria-expanded="false" aria-controls="collapseExample">
                      {{_("Open/Close To Upload a Document")}}
                  </button>
                </div>
                <div class="app-container collapse" id="add_new_open_view">
                    <div class="upload-browse">
                        <input id="pubfile" type="file"/>
                        <button id="upload-button" onclick="uploadFileProgress('pubfile', 'pubfile', 'progressBar-pubfile')"> {{_("Upload a Public Document")}}</button>
                        <progress id="progressBar-pubfile" value="0" max="100"/>
                    </div>
                </div>
            {% endif %}
        </fieldset>


        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>

        <fieldset>
            <legend>{{_('Financial Statements')}}</legend>
            <h2>2023</h2>
            <div class="app-container">
                {% if findocs2023 is defined and findocs2023 %}
                <div class="row">
                    {% for doc in findocs2023 %}
                        <div class="col-1 doc-col">
                            <a class="doc-link" href="docs/financial/{{doc}}" target="_blank"> {{doc}}</a>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                    <div class="spacer"></div>
                    <div class="no-item-msg">{{_("No statement uploaded for this year yet.")}}</div>
                {% endif %}
            </div>

            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>

            <h2>2024</h2>
            <div class="app-container">
                {% if findocs2024 is defined and findocs2024 %}
                <div class="row">
                    {% for doc in findocs2024 %}
                        <div class="col-1 doc-col">
                            <a class="doc-link" href="docs/financial/{{doc}}" target="_blank"> {{doc}}</a>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                    <div class="spacer"></div>
                    <div class="no-item-msg">{{_("No statement uploaded for this year yet.")}}</div>
                {% endif %}
            </div>

            <div class="spacer"></div>
            <div class="spacer"></div>
            <div class="spacer"></div>

            <h2>2025</h2>
            <div class="app-container">
                {% if findocs2025 is defined and findocs2025 %}
                <div class="row">
                    {% for doc in findocs2025 %}
                        <div class="col-1 doc-col">
                            <a class="doc-link" href="docs/financial/{{doc}}" target="_blank"> {{doc}}</a>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                    <div class="spacer"></div>
                    <div class="no-item-msg">{{_("No statement uploaded for this year yet.")}}</div>
                {% endif %}
            </div>


            {% if info_data['is_authenticated'] == true and current_user.get_type()|int() == user_types['ADMIN']|int() %}
                <div style="margin: auto; width: 400px; text-align: center;" class="mt-2">
                  <button  class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#add_new_fin_state" aria-expanded="false" aria-controls="collapseExample">
                      {{_("Open/Close To Add a Financial Statement")}}
                  </button>
                </div>
                <div class="app-container collapse" id="add_new_fin_state">
                  <div class="upload-browse">
                      <label for="rep-month">{{_("Month")}}:</label>
                      <input id="rep-month" type="text" style="width: 30px;"/>
                      <label for="rep-year">{{_("Year")}}:</label>
                      <input id="rep-year" type="text" style="width: 60px;"/>
                      <input id="rep-file" type="file"/>
                      <button id="upload-button" onclick="uploadFinancialStatement()"> {{_("Upload This Financial Statement")}}</button>
                      <progress id="rep-progress-bar" value="0" max="100"/>
                  </div>
                </div>
            {% endif %}
        </fieldset>

        <div class="spacer"></div>
        <div class="spacer"></div>
        <div class="spacer"></div>


        <fieldset>
            <legend>{{_('Links to sites or documents hosted elsewhere')}}</legend>
            <div class="app-container">
                {% if links is defined and links %}
                <div class="row">
                    {% for descr, link in links %}
                        <div class="col-1 doc-col">
                            <a class="doc-link" href="{{link['url']}}" target="_blank"> {{descr}}</a>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
                    <div class="spacer"></div>
                    <div class="no-item-msg">{{_("No links added yet.")}}</div>
                {% endif %}
            </div>

            {% if info_data['is_authenticated'] == true and current_user.get_type()|int() == user_types['ADMIN']|int() %}
                <div style="margin: auto; width: 400px; text-align: center;" class="mt-2">
                  <button  class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#add_new_link" aria-expanded="false" aria-controls="collapseExample">
                      {{_("Open/Close To Add a New Link")}}
                  </button>
                </div>
                <div class="app-container collapse" id="add_new_link">
                    <div class="upload-browse">
                        <label for="link_url">URL:</label>
                        <input id="link_url" type="text"/>
                        <label for="link_descr">{{_("Description")}}:</label>
                        <input id="link_descr" type="text"/>
                        <button id="upload-link" onclick="uploadLink()"> {{_("Upload a Link")}}</button>
                    </div>
                </div>
            {% endif %}
        </fieldset>

        <div class="spacer"></div>
        <div class="spacer"></div>
    </div> <!-- closes content -->

</div> <!-- closes main -->

{% include "hidden_fields.html" %}

{% endblock %}

{% block afterbody %}
   <script src="{{ url_for('static', filename='js/docs.js') }}"></script>
{% endblock %}
