{% extends "layout.html" %}
{% block body %}

<div class="main">

  <nav id="sidebar">  
    <div class="sidebar-logo-area">
        <img class="logo-div" src="branding/logo.jpg">
        <button id="menuButtonClose" type="button" class="sidebar-close-btn init-hidden close" aria-label="Close">x</button>
    </div>
    <ul class="list-unstyled components">
      <li><a class="nav-link" href="home"><i class="fa fa-fw fa-home"></i> {{_("Home")}}</a></li>
      <li><a class="nav-link" href="about"><i class="fa fa-fw fa-info"></i> {{_("About")}}</a></li>
      <li><a class="nav-link" href="announcs"><i class="fa fa-fw fa-bullhorn"></i> {{_("Announcements")}}</a></li>
      <li><a class="nav-link" href="docs"><i class="fa fa-fw fa-book"></i> {{_("Documents")}}</a></li>
      <li><a class="nav-link" href="pics"><i class="fa fa-fw fa-picture-o"></i> {{_("Pictures")}}</a></li>
      <li><a class="nav-link" href="listings"><i class="fa fa-fw fa-list-ul"></i> {{_("Listings")}}</a></li>
      <li class="active"><a class="nav-link" href="login" aria-selected="false"><i class="fa fa-fw fa-sign-in"></i> {{_("Login")}}</a></li>
    </ul>
  </nav>



  <div class="content">
    {% include "mobile-menu.html" %}

    <div class="section-title" data-aos="zoom-out">
        <h2>{{_("Retrieve Password")}}</h2>
    </div>
  
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="flash-message">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                  {{ _(message) }}
              {% endfor %}
            {% endif %}
          {% endwith %}            
        </div>

        <form method=POST action="">
            <div>
                <label for="exampleInputEmail1">{{_("User Id")}}</label>
                <input type="text" class="form-control" name="userid" placeholder='{{_("User Id. Example: UnitA23")}}'>
            </div>
            <div style="margin: 40px;"></div>

            {% if msg %}
                <div>
                    <label style="font-size: 16px;">{{_( msg )}}</label>
                </div>
            {% endif %}

            <button type="submit" class="btn btn-primary btn-block">{{_("Retrieve Login Info")}}</button>
        </form>

        <br>
      </div>
    </div>
  </div>

</div> <!-- closes main -->
{% endblock %}

{% block afterbody %}
   <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}


