{% extends "layout-root.html" %}


{% block insidehead %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
{% endblock %}


{% block body %}
<div class="main">

    <nav id="sidebar">  
        <div class="sidebar-logo-area">
            <img class="logo-div" src="img/bluelogo.png">
            <button id="menuButtonClose" type="button" class="sidebar-close-btn init-hidden close" aria-label="Close">x</button>
        </div>

        <ul class="list-unstyled components">
            <li class="active"><a class="nav-link" href="home"><i class="fa fa-fw fa-home"></i> Home</a></li>

            <li><a class="nav-link" href="about"><i class="fa fa-fw fa-info"></i> About</a></li>

            {% if current_user.is_authenticated  %}
                <li><a class="nav-link" href="logout" aria-selected="false"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
            {% else %}
                <li><a class="nav-link" href="login" aria-selected="false"><i class="fa fa-fw fa-sign-in"></i> Login</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="content">
        {% include "mobile-menu.html" %}

        <div class="section-title" data-aos="zoom-out">
            <h2>Home</h2>
        </div>
        
        <div class="container-md my-5">
            <div class="about-body">
                <div class="shadow p-3 mb-5 bg-white rounded">
                    <h4>Welcome to the CondoSpace App</h4>
                    <div class="spacer"></div>
                    This is the home page of the Condominium Web Application.<br>
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    If you are in the Association Management, or a resident in an apartment complex, contact us using the email below so we can show you
                    all the benefits of having your condominium website hosted in our servers.
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    See the <a href="about">About page</a> for how it works, and to see the benefits.

                    <div class="spacer"></div>

                    <div class="registration-form">
                        <form id="contact_form">
                            <div class="form-group">
                                <h1 class="title">Send Us A Message Now</h1>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control item" id="name" placeholder="Your name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control item" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control item" id="phone" placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control item textarea" id="message" placeholder="Your message here"></textarea>
                            </div>
                            <div class="center">
                                <button type="submit" onClick="sendContactEmail()" class="btn create-account">Send Message</button>
                            </div>
                        </form>
                        <div style="margin: 20px;"></div>
                        <div class="social-media">
                            <h5>Follow Us on Social Media</h5>
                            <div class="social-icons">
                                <a href="https://instagram.com/blueriversys"><i class="fa fa-instagram" title="Instagram"></i></a>
                                <a href="#"><i class="fa fa-facebook" title="Facebook"></i></a>
                                <a href="#"><i class="fa fa-google" title="Google"></i></a>
                                <a href="#"><i class="fa fa-twitter" title="Twitter"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block afterbody %}
   <script src="{{ url_for('static', filename='js/contact.js') }}"></script>
{% endblock %}

