<!DOCTYPE html>

<html lang="en">
    <head>
      <meta property="og:title" content="{{info_data['condo_name']}}">
      <meta property="og:url" content="https://condospace.app/{{info_data['domain']}}">
      <meta property="og:description" content="Best apartment complex in {{info_data['condo_location']}}">
      <meta property="og:image" itemprop="image" content="https://condospace.app/{{info_data['domain']}}/branding/home.jpg">

      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" type="image/png" href="{{ url_for('static', filename='common/img/favicon.png') }}">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

      <!-- required for link decoration -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- required for additional decoration -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/additional.css') }}">

      <title>{{info_data['condo_name']}}</title>

      <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
      <!-- <link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css” rel=”nofollow” integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”> -->

      <!-- fonts -->
      <!--<link href="https://fonts.google.com/specimen/Fondamento" rel="stylesheet"> -->
      <!--<link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet"> -->

      <!--
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      -->

      {% block insidehead %}{% endblock %}

    </head>

    <body onload="onLoadAction()">
        <!-- this means: insert here the section of -->
        {% block body %}{% endblock %}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <!-- common.js needs to be loaded after jquery -->
        <script src="{{ url_for('static', filename='js/common.js') }}"></script>

        <!-- <script src="{{ url_for('static', filename='js/carousel.js') }}"></script> -->

        <!-- Font Awesome JS 
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"       integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
        -->

        {% block afterbody %}{% endblock %}
    </body>
</html>
