{% extends "layout.html" %}
{% block body %}

<div class="main">

  <nav id="sidebar">  
    <div class="sidebar-logo-area">
        <img class="logo-div" src="branding/logo.jpg">
        <button id="menuButtonClose" type="button" class="sidebar-close-btn init-hidden close" aria-label="Close">x</button>
    </div>
    <ul class="list-unstyled components">
        <li><a class="nav-link" href="home"><i class="fa fa-fw fa-home"></i> {{_('Home')}}</a></li>
        <li><a class="nav-link" href="announcs"><i class="fa fa-fw fa-bullhorn"></i> {{_('Announcements')}}</a></li>
        <li><a class="nav-link" href="docs"><i class="fa fa-fw fa-book"></i> {{_('Documents')}}</a></li>
        <li><a class="nav-link" href="pics"><i class="fa fa-fw fa-picture-o"></i> {{_('Pictures')}}</a></li>
        <li><a class="nav-link" href="listings"><i class="fa fa-fw fa-list-ul"></i> {{_('Listings')}}</a></li>
        <li><a class="nav-link" href="about"><i class="fa fa-fw fa-info"></i> {{_('About')}}</a></li>
        <li><a class="nav-link" href="login" aria-selected="false"><i class="fa fa-fw fa-sign-in"></i> {{_('Login')}}</a></li>
        {% include "info_short.html" %}
    </ul>
  </nav>

  <div class="content">
    {% include "mobile-menu.html" %}
    <p> {{loggedout_user}} is now logged out.</p>
  </div>

</div>

{% endblock %}
