{% extends "layout.html" %}

{% block insidehead %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
{% endblock %}


{% block body %}
  <div id="message_block_id" class="message_block"></div>

<div class="main">
  <nav id="sidebar">
    <div class="sidebar-logo-area">
        <img class="logo-div" src="branding/logo.jpg">
        <button id="menuButtonClose" type="button" class="sidebar-close-btn init-hidden close" aria-label="Close">x</button>
    </div>
    <ul class="list-unstyled components">
        <li><a class="nav-link" href="home"><i class="fa fa-fw fa-home"></i> {{_("Home")}}</a></li>

        {% if info_data['is_authenticated'] == true and current_user.get_type()|int() == user_types['ADMIN']|int() %}
            <li><a class="nav-link" href="setup"><i class="fa fa-fw fa-keyboard-o"></i> {{_('Setup')}}</a></li>
            <li class="active"><a class="nav-link" href="profile"><i class="fa fa-fw fa-pencil"></i> {{_('Update')}}</a></li>
        {% elif info_data['is_authenticated'] == true %}
            <li class="active"><a class="nav-link" href="profile"><i class="fa fa-fw fa-pencil"></i> {{_('My Profile')}}</a></li>
        {% endif %}


        <li><a class="nav-link" href="about"><i class="fa fa-fw fa-info"></i> {{_("About")}}</a></li>
        <li><a class="nav-link" href="announcs"><i class="fa fa-fw fa-bullhorn"></i> {{_("Announcements")}}</a></li>
        <li><a class="nav-link" href="docs"><i class="fa fa-fw fa-book"></i> {{_("Documents")}}</a></li>

        {% if info_data['is_authenticated'] == true and current_user.get_type()|int() != user_types['RESIDENT']|int() %}
            <li><a class="nav-link" href="upload" aria-selected="false"><i class="fa fa-fw fa-cog"></i> {{_("Maintenance")}}</a></li>
        {% endif %}

        <li><a class="nav-link" href="pics"><i class="fa fa-fw fa-picture-o"></i> {{_("Pictures")}}</a></li>
        <li><a class="nav-link" href="listings"><i class="fa fa-fw fa-list-ul"></i> {{_("Listings")}}</a></li>
        <li><a class="nav-link" href="logout" aria-selected="false"><i class="fa fa-fw fa-sign-out"></i> {{_("Logout")}}</a></li>
        <li class="menu-userid">[{{current_user.userid}}]</li>
    </ul>
  </nav>

  <div class="content">
      {% include "mobile-menu.html" %}

      <div class="section-title" data-aos="zoom-out">
        <h2>{{_("View and Update Resident Profile")}}</h2>
      </div>

          <div class="profile-block">
            <div class="spacer"></div>

            {% if info_data['is_authenticated'] == true and current_user.get_type()|int() == user_types['ADMIN']|int() %}
                <div class="upload-browse">
                    <label for="user_id" style="font-size: 20px;">{{_("Select a Unit/User")}}:</label>
                    <select class="unit-dropdown" id="user_id" name="user_id" onChange="retrieveUserByUnit();">
                      <option value="none" selected disabled hidden>{{_("Select a Unit/User")}}</option>
                      {% for unit in units %}
                          <option value="{{unit['userid']}}">{{unit['userid']}}</option>
                      {% endfor %}
                    </select>
                </div>
                <div class="spacer"></div>
            {% endif %}


            <fieldset>
              <legend>{{_("Administrative Data")}}</legend>
              <label>{{_("User Id")}}:</label>
              <input id="user_id_adm" style="width: 200px; margin-right: 40px; font-weight: bold;" readonly>
              <br>
              {% if info_data['is_authenticated'] == true and current_user.get_type()|int() == user_types['ADMIN']|int() %}
                  <div>
                        <label>{{_("Password")}}:</label>
                        <input type="text" id="password" name="password">
                        <label for="resident_type">{{_("Resident type")}}:</label>
                        <select id="resident_type" name="resident_type">
                          <option value="0">Admin</option>
                          <option value="1">{{_("Board Member")}}</option>
                          <option value="2">{{_("Secretary")}}</option>
                          <option value="3" selected>{{_("Resident")}}</option>
                        </select>
                  </div>
              {% endif %}
              <div>
                  <label for="last_update_date">{{_("Last Update by Resident")}}:</label>
                  <input type="text" size="8" id="last_update_date" name="last_update_date" title="Date format is mm/dd/yyyy" disabled>
              </div>


            </fieldset>

            <div class="spacer"></div>
            <div class="spacer"></div>

            <div>
                <div style="margin-left: 10px; margin-bottom: 15px;">{{_("The sections below marked with * are required to be filled.")}}</div>
                <fieldset>
                  <legend>{{_("Main Occupant Contact")}} (*)</legend>
                  <div class="header">{{_("Must contain the info for one person only, which is the head of household (usually the unit owner if this isn't a rental unit)")}}</div>
                  <label for="name">{{_("Name")}}:</label>
                  <input class="name-input" type="text" id="name" name="name">
                  <label for="email">{{_("Email")}}:</label>
                  <input class="email-input" type="email" id="email" name="email">
                  <label for="phone">{{_("Phone")}}:</label>
                  <input class="phone-input" data-toggle="tooltip" title="Phone format (123) 456-7890" type="phone" id="phone" name="phone">
                <label for="startdt_month">{{_("Resident Since")}}:</label>
                <select id="startdt_month" name="months">
                  <option value="1">Jan</option>
                  <option value="2">Feb</option>
                  <option value="3">Mar</option>
                  <option value="4">Apr</option>
                  <option value="5">May</option>
                  <option value="6">Jun</option>
                  <option value="7">Jul</option>
                  <option value="8">Aug</option>
                  <option value="9">Sep</option>
                  <option value="10">Oct</option>
                  <option value="11">Nov</option>
                  <option value="12">Dec</option>
                </select>
                <select id="startdt_year" name="years">
                  <option value="1991">1991</option>
                  <option value="1992">1992</option>
                  <option value="1993">1993</option>
                  <option value="1994">1994</option>
                  <option value="1995">1995</option>
                  <option value="1996">1996</option>
                  <option value="1997">1997</option>
                  <option value="1998">1998</option>
                  <option value="1999">1999</option>
                  <option value="2000">2000</option>
                  <option value="2001">2001</option>
                  <option value="2002">2002</option>
                  <option value="2003">2003</option>
                  <option value="2004">2004</option>
                  <option value="2005">2005</option>
                  <option value="2006">2006</option>
                  <option value="2007">2007</option>
                  <option value="2008">2008</option>
                  <option value="2009">2009</option>
                  <option value="2010">2010</option>
                  <option value="2011">2011</option>
                  <option value="2012">2012</option>
                  <option value="2013">2013</option>
                  <option value="2014">2014</option>
                  <option value="2015">2015</option>
                  <option value="2016">2016</option>
                  <option value="2017">2017</option>
                  <option value="2018">2018</option>
                  <option value="2019">2019</option>
                  <option value="2020">2020</option>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
                  <option value="2027">2027</option>
                  <option value="2028">2028</option>
                  <option value="2029">2029</option>
                  <option value="2030">2030</option>
                </select>
                </fieldset>
                <br>
                <fieldset>
                  <legend>{{_("Other Occupants")}} (*)</legend>
                  <label for="occup1_name">{{_("Name")}}:</label>
                  <input class="name-input" type="text" id="occup1_name" class="name-input" name="occup1_name">
                  <label for="occup1_email">{{_("Email")}}:</label>
                  <input class="email-input" type="email" id="occup1_email" name="occup1_email">
                  <label for="occup1_cc">CC:</label>
                  <input type="checkbox" id="occup1_cc" name="occup1_cc" title="CC in emails sent from Whitegate">
                  <label for="occup1_phone">{{_("Phone")}}:</label>
                  <input class="phone-input" data-toggle="tooltip" title="Phone format (123) 456-7890" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="occup1_phone" name="occup1_phone">
                  <label for="occup1_has_key">{{_("Has key to unit")}}:</label>
                  <input type="checkbox" id="occup1_has_key" name="occup1_has_key">

                  <br>
                  <label for="occup2_name">{{_("Name")}}:</label>
                  <input class="name-input" type="text" id="occup2_name" name="occup2_name">
                  <label for="occup2_email">{{_("Email")}}:</label>
                  <input class="email-input" type="email" id="occup2_email" name="occup2_email">
                  <label for="occup2_cc">CC:</label>
                  <input type="checkbox" id="occup2_cc" name="occup2_cc" title="CC in emails sent from Whitegate">
                  <label for="occup2_phone">{{_("Phone")}}:</label>
                  <input class="phone-input" data-toggle="tooltip" title="Phone format (123) 456-7890" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="occup2_phone" name="occup2_phone">
                  <label for="occup2_has_key">{{_("Has key to unit")}}:</label>
                  <input type="checkbox" id="occup2_has_key" name="occup2_has_key">

                  <br>
                  <label for="occup3_name">{{_("Name")}}:</label>
                  <input class="name-input" type="text" id="occup3_name" name="occup3_name">
                  <label for="occup3_email">{{_("Email")}}:</label>
                  <input class="email-input" type="email" id="occup3_email" name="occup3_email">
                  <label for="occup3_cc">CC:</label>
                  <input type="checkbox" id="occup3_cc" name="occup3_cc" title="CC in emails sent from Whitegate">
                  <label for="occup3_phone">{{_("Phone")}}:</label>
                  <input class="phone-input" data-toggle="tooltip" title="Phone format (123) 456-7890" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="occup3_phone" name="occup3_phone">
                  <label for="occup3_has_key">{{_("Has key to unit")}}:</label>
                  <input type="checkbox" id="occup3_has_key" name="occup3_has_key">

                  <br>
                  <label for="occup4_name">{{_("Name")}}:</label>
                  <input class="name-input" type="text" id="occup4_name" name="occup4_name">
                  <label for="occup4_email">{{_("Email")}}:</label>
                  <input class="email-input" type="email" id="occup4_email" name="occup4_email">
                  <label for="occup4_cc">CC:</label>
                  <input type="checkbox" id="occup4_cc" name="occup4_cc" title="CC in emails sent from Whitegate">
                  <label for="occup4_phone">{{_("Phone")}}:</label>
                  <input class="phone-input" data-toggle="tooltip" title="Phone format (123) 456-7890" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="occup4_phone" name="occup4_phone">
                  <label for="occup4_has_key">{{_("Has key to unit")}}:</label>
                  <input type="checkbox" id="occup4_has_key" name="occup4_has_key">

                  <br>
                  <label for="occup5_name">{{_("Name")}}:</label>
                  <input class="name-input" type="text" id="occup5_name" name="occup5_name">
                  <label for="occup5_email">{{_("Email")}}:</label>
                  <input class="email-input" type="email" id="occup5_email" name="occup5_email">
                  <label for="occup5_cc">CC:</label>
                  <input type="checkbox" id="occup5_cc" name="occup5_cc" title="CC in emails sent from Whitegate">
                  <label for="occup5_phone">{{_("Phone")}}:</label>
                  <input class="phone-input" data-toggle="tooltip" title="Phone format (123) 456-7890" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="occup5_phone" name="occup5_phone">
                  <label for="occup5_has_key">{{_("Has key to unit")}}:</label>
                  <input type="checkbox" id="occup5_has_key" name="occup5_has_key">
                </fieldset>
                <br>
                <fieldset>
                  <legend>{{_("Emergency Contact")}}</legend>
                  <div class="header">{{_("If possible, this should be someone who lives outside the complex, or in a building other than this unit's.")}}</div>
                  <label for="emerg_name">{{_("Name")}}:</label>
                  <input class="name-input" type="text" id="emerg_name" name="emerg_name">
                  <label for="emerg_email">{{_("Email")}}:</label>
                  <input class="email-input" type="email" id="emerg_email" name="emerg_email">
                  <label for="emerg_phone">{{_("Phone")}}:</label>
                  <input class="phone-input" data-toggle="tooltip" title="Phone format (123) 456-7890" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="emerg_phone" name="emerg_phone">
                  <label for="emerg_has_key">{{_("Has key to unit")}}:</label>
                  <input type="checkbox" id="emerg_has_key" name="emerg_has_key">
                </fieldset>
                <br>
                <fieldset>
                  <legend>{{_("For Rental Unit Only")}}</legend>
                  <div class="header">{{_("If your unit is a rental, you're required to fill this section")}}</div>
                  <input type="checkbox" onclick='handleRentalClick(this);' id="rental_unit_checkbox" name="rental_unit_checkbox" unchecked>
                  <label for="rental_unit_checkbox">{{_("This unit is a rental")}}</label>
                  <br>
                  <label for="owner_name" disabled>{{_("Owner's Name")}}:</label>
                  <input class="name-input" type="text" id="owner_name" name="owner_name" disabled>
                  <label for="owner_email" disabled>{{_("Owner's Email")}}:</label>
                  <input class="email-input" type="email" id="owner_email" name="owner_email" disabled>
                  <label for="owner_phone" disabled>{{_("Owner's Phone")}}:</label>
                  <input class="phone-input" data-toggle="tooltip" title="Phone format (123) 456-7890" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" id="owner_phone" name="owner_phone" disabled>
                  <br>
                  <label for="owner_address" disabled>{{_("Owner's Full Mailing Address")}}:</label>
                  <input type="text" size=50 id="owner_address" name="owner_address" title="Full address of the owner" disabled>
                </fieldset>
                <br>
                <fieldset>
                    <legend>{{_("Additional Info")}} (*)</legend>
                    <input type="checkbox" id="oxygen_equipment" name="oxygen_equipment">
                    <label for="oxygen_equipment">{{_("Use oxygen equipment")}}</label>
                    <br>
                    <input type="checkbox" id="limited_mobility" name="limited_mobility">
                    <label for="limited_mobility">{{_("Have limited mobility")}}</label>
                    <br>
                    <input type="checkbox" id="routine_visits" name="routine_visits">
                    <label for="routine_visits">{{_("Medical or assistance service visits the unit on a routine basis")}}</label>
                    <br>
                    <input type="checkbox" id="has_pet" name="has_pet">
                    <label for="has_pet">{{_("Have pets")}}</label>
                    <br>
                    <label for="bike_count">{{_("Number of bicycles in the garage")}}:</label>
                    <input type="number" style="width: 40px;" id="bike_count" name="bike_count">
                    <br>
                    <label for="insurance_carrier">{{_("Home insurance policy carrier")}}:</label>
                    <input type="text" id="insurance_carrier" name="insurance_carrier">
                    <br>
                    <label for="valve">{{_("Unit's main water shut off valve type")}}: &nbsp; &nbsp; &nbsp; {{_("Knob")}}</label>
                    <input type="radio" id="knob_radio" name="valve" value="knob">
                    <img src="{{ url_for('static', filename='common/img/knob-valve.png') }}" width="50" height="50">
                    <label for="valve">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{_("Lever")}}</label>
                    <input type="radio" id="lever_radio" name="valve" value="lever">
                    <img src="{{ url_for('static', filename='common/img/lever-valve.png') }}" width="50" height="50">
                    <label for="valve">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{_("I don't know")}}</label>
                    <input type="radio" id="dont_know_radio" name="valve" value="dontknow">
                </fieldset>

                <br>

                <fieldset>
                  <legend>{{_("Vehicle Information")}} (*)</legend>
                  <input type="checkbox" onclick='handleNoVehiclesClick(this);' id="vehicle_checkbox" name="vehicle_checkbox">
                  <label for="vehicle_checkbox">{{_("Unit occupants have no cars")}}</label>
                  <br>
                  <label for="make_model_0">{{_("Vehicle 1: Make and Model")}}:</label>
                  <input type="text" id="make_model_0" name="make_model_0" title="Example: Honda CR-V">
                  <label for="plate_0">{{_("Plate")}}:</label>
                  <input class="plate-input" type="text" id="plate_0" name="plate_0" title="Plate, with state in parenthesis">
                  <label for="color_0">{{_("Color")}}:</label>
                  <input class="color-input" type="text" id="color_0" name="color_0">
                  <label for="year_0">{{_("Year")}}:</label>
                  <input type="number" style="width: 70px;" id="year_0" name="year_0">
                  <br>
                  <label for="make_model_1">{{_("Vehicle 2: Make and Model")}}:</label>
                  <input type="text" id="make_model_1" name="make_model_1" title="Example: Honda CR-V">
                  <label for="plate_1">{{_("Plate")}}:</label>
                  <input class="plate-input" type="text" id="plate_1" name="plate_1" title="Plate, with state in parenthesis">
                  <label for="color_1">{{_("Color")}}:</label>
                  <input class="color-input" type="text" id="color_1" name="color_1">
                  <label for="year_1">{{_("Year")}}:</label>
                  <input type="number" style="width: 70px;" id="year_1" name="year_1">
                </fieldset>

                <br>

                  <fieldset>
                    <legend>{{_("Notes")}}</legend>
                    <div class="header">{{_("Write below any note or extra information you feel is important")}}.</div>
                    <div>
                      <textarea style="width: 100%; overflow-y: scroll; resize: none;" rows="3" id="notes" name="note"></textarea>
                    </div>
                    <!--
                    <div contenteditable="true" style="display: inline-block; border: solid 1px #000; width: 400px; min-height: 120px; background: white;"></div>
                    -->
                  </fieldset>
            </div>

            <div class="spacer"></div>

            <div class="center">
              <button class="button" id="save_resident_btn" onClick="saveResident('profile');"><i class="fa fa-database"></i>&nbsp;&nbsp;{{_("Save to Database")}}</button>
            </div>

          </div>


          <div class="spacer"></div>
          <div class="spacer"></div>

          <div class="profile-block">
            <div>
              <div style="display: inline-block; text-align: right; width: 18%;">{{_("Current Password")}}:</div>
              <div style="display: inline-block; width: 150px;"> <input id="curr_password" type="password" autocomplete="new-password"/></div>
            </div>
            <div class="spacer"></div>
            <div>
              <div style="display: inline-block; text-align: right; width: 18%;">{{_("New Password")}}:</div>
              <div style="display: inline-block; width: 150px;"> <input id="new_password" type="password"/></div>
            </div>
            <div class="spacer"></div>
            <div>
              <div style="display: inline-block; text-align: right; width: 18%;">{{_("Repeat Password")}}:</div>
              <div style="display: inline-block; width: 150px;"> <input id="repeat_password" type="password"/></div>
            </div>

            <div class="spacer"></div>

            <div class="center">
              <button class="button" id="save_pass_btn" onClick="changePassword();"><i class="fa fa-save"></i>&nbsp;&nbsp;{{_("Change Password")}}</button>
            </div>

          </div>
  </div> <!-- closes content -->
</div> <!-- closes main -->

<input type="hidden" id="loggedin-userid" value={{info_data['loggedin-userdata']['userid']}}>
<input type="hidden" id="loggedin-id" value={{info_data['loggedin-userdata']['id']}}>
<input type="hidden" id="loggedin-name" value={{info_data['loggedin-userdata']['name']}}>
<input type="hidden" id="loggedin-email" value={{info_data['loggedin-userdata']['email']}}>
<input type="hidden" id="loggedin-tenant" value={{info_data['loggedin-userdata']['tenant']}}>
{% endblock %}

{% block afterbody %}
   <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}

