<!DOCTYPE html>

<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="icon" type="image/png" href={{ url_for('static', filename='img/favicon.png') }}>

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

      <!-- required for link decoration -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- required for additional decoration -->
      <link rel="stylesheet" href={{ url_for('static', filename='css/additional.css') }}>
      
      <title>WHITEGATE Condominium</title>

      <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
      <!-- <link rel=”stylesheet” href=”https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css” rel=”nofollow” integrity=”sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I” crossorigin=”anonymous”> -->

      <!-- fonts -->
      <link href="https://fonts.google.com/specimen/Fondamento" rel="stylesheet">

    </head>

    <body onload="retrieveUsers()">
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <!-- common.js needs to be loaded after jquery -->
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>

        <div class="main">

          <nav id="sidebar">  
            <div class="sidebar-logo-area">
                <img class="logo-div" src="img/logo.jpg">
                <button id="menuButtonClose" type="button" class="sidebar-close-btn init-hidden close" aria-label="Close">x</button>
            </div>
            <ul class="list-unstyled components">
              <li><a class="nav-link" href="home"><i class="fa fa-fw fa-home"></i> Home</a></li>
              <li><a class="nav-link" href="about"><i class="fa fa-fw fa-info"></i> About</a></li>
              <li class="active"><a class="nav-link" href="announcs"><i class="fa fa-fw fa-bullhorn"></i> Announcements</a></li>
              <li><a class="nav-link" href="docs"><i class="fa fa-fw fa-book"></i> Documents</a></li>

              {% if (info_data['is_authenticated'] == true and current_user.get_type() != 3) %}
                  <li><a class="nav-link" href="upload" aria-selected="false"><i class="fa fa-fw fa-upload"></i> Upload</a></li>
              {% endif %}

              <li><a class="nav-link" href="blog"><i class="fa fa-fw fa-pencil-square-o"></i> Blog</a></li>
              <li><a class="nav-link" href="pics"><i class="fa fa-fw fa-picture-o"></i> Pictures</a></li>
              {% if info_data['is_authenticated'] == true  %}
                  <li><a class="nav-link" href="logout" aria-selected="false"><i class="fa fa-fw fa-sign-out"></i> Logout</a></li>
              {% else %}
                  <li><a class="nav-link" href="login" aria-selected="false"><i class="fa fa-fw fa-sign-in"></i> Login</a></li>
              {% endif %}
            </ul>
          </nav>
        
          <div class="content">
            {% include "mobile-menu.html" %}

            <div class="section-title" data-aos="zoom-out">
              <h2>Residents List</h2>
            </div>

            <div class="app-container">
              
              
              <div class="table-div">
                  <table id="residentstableid">
                      <tr>
                          <th style="width: 5%;">Unit</th>
                          <th style="width: 8%;">User Id</th>
                          <th style="width: 8%;">Password</th>
                          <th style="width: 15%;">Last Name</th>
                          <th style="width: 15%;">Name</th>
                          <th style="width: 15%;">Email</th>
                          <th style="width: 10%;">Start Date</th>
                          <th style="width: 10%;">Phone</th>
                      </tr>
                  </table>
              </div>

              <p></p>
              <p></p>

              <div class="upload-block">
                <div class="passrow">
                  <div class="aright">Unit:</div>
                  <div class="aleft">
                    <select id="unitid" name="units" onchange="retrieveUserByUnit();">
                      <option value="0">0</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                      <option value="32">32</option>
                      <option value="33">33</option>
                      <option value="34">34</option>
                      <option value="35">35</option>
                      <option value="36">36</option>
                      <option value="37">37</option>
                      <option value="38">38</option>
                      <option value="39">39</option>
                      <option value="40">40</option>
                      <option value="41">41</option>
                      <option value="42">42</option>
                      <option value="43">43</option>
                      <option value="44">44</option>
                      <option value="45">45</option>
                      <option value="46">46</option>
                      <option value="47">47</option>
                      <option value="48">48</option>
                      <option value="49">49</option>
                      <option value="50">50</option>
                      <option value="51">51</option>
                      <option value="52">52</option>
                      <option value="53">53</option>
                    </select>
                  </div>
                </div>

                <div class="passrow">
                  <div class="aright">User Id:</div>
                  <div class="aleft"> <input id="userid" placeholder="user id"></input></div>
                  <button type="button-div" id="retrievebtn" onClick="retrieveUserByUserId();">Retrieve</button>
                </div>
                <div class="passrow">
                  <div class="aright">Last Name:</div>
                  <div class="aleft"> <input id="lastname" placeholder="last name"></input></div>
                </div>
                <div class="passrow">
                  <div class="aright">Name:</div>
                  <div class="aleft"> <input id="name" placeholder="first name"></input></div>
                </div>
                <div class="passrow">
                  <div class="aright">Email:</div>
                  <div class="aleft"> <input id="email" placeholder="email address"></input></div>
                </div>
                <div class="passrow">
                  <div class="aright">Start Date:</div>
                  <div class="aleft"> <input id="startdt" placeholder="resident since when"></input></div>
                </div>
                <div class="passrow">
                  <div class="aright">Phone:</div>
                  <div class="aleft"> <input id="phone" placeholder="phone"></input></div>
                </div>

                <div class="passrow">
                  <div class="aright">Type:</div>
                  <div class="aleft"> 
                    <select id="type" name="type"">
                      <option value="0">Admin</option>
                      <option value="1">Board Member</option>
                      <option value="2">Secretary</option>
                      <option value="3">Resident</option>
                    </select>  
                  </div>
                </div>

                <div class="center">
                  <button class="button-div wide" id="savebtn" onClick="saveUser();">Save</button>
                  <button class="button-div wide" id="sendinfobtn" onClick="sendLoginEmail();">Send Login Email to User</button>
                </div>   
              </div>

            </div> <!-- close app-container -->

          </div> <!-- close content -->

        </div> <!-- close main -->

    </body>

</html>
