{% extends "layout.html" %}
{% block body %}

<div class="main">

  <nav id="sidebar">  
    <div class="sidebar-logo-area">
        <img class="logo-div" src="branding/logo.jpg">
        <button id="menuButtonClose" type="button" class="sidebar-close-btn init-hidden close" aria-label="Close">x</button>
    </div>
    <ul class="list-unstyled components">
        <li><a class="nav-link" href="home"><i class="fa fa-fw fa-home"></i> {{_("Home")}}</a></li>
        <li><a class="nav-link" href="setup"><i class="fa fa-fw fa-keyboard-o"></i> {{_('Setup')}}</a></li>
        <li><a class="nav-link" href="profile"><i class="fa fa-fw fa-pencil"></i> {{_('Update')}}</a></li>
        <li><a class="nav-link" href="reservations"><i class="fa fa-fw fa-calendar"></i> {{_('Reservations')}}</a></li>
        <li><a class="nav-link" href="fines"><i class="fa fa-fw fa-dollar"></i> {{_('Fines')}}</a></li>
        <li><a class="nav-link" href="announcs"><i class="fa fa-fw fa-bullhorn"></i> {{_("Announcements")}}</a></li>
        <li><a class="nav-link" href="docs"><i class="fa fa-fw fa-book"></i> {{_("Documents")}}</a></li>
        <li class="active"><a class="nav-link" href="upload" aria-selected="false"><i class="fa fa-fw fa-cog"></i> {{_("Maintenance")}}</a></li>
        <li><a class="nav-link" href="pics"><i class="fa fa-fw fa-picture-o"></i> {{_("Pictures")}}</a></li>
        <li><a class="nav-link" href="listings"><i class="fa fa-fw fa-list-ul"></i> {{_("Listings")}}</a></li>
        <li><a class="nav-link" href="about"><i class="fa fa-fw fa-info"></i> {{_("About")}}</a></li>
        {% include "info.html" %}
    </ul>
  </nav>

  <div class="content">
      {% include "mobile-menu.html" %}

      <div class="section-title" data-aos="zoom-out">
          <h2>{{_("Upload or Update System Files")}}</h2>
      </div>

      <div class="upload-container">
        <div class="upload-block">
          <p>{{_("Pictures")}}</p>
          <div class="upload-block-row">
                  <div class="upload-browse">
                    <input id="homepic" type="file"/>
                    <button id="upload-button" onclick="uploadFileProgress('homepic', 'homepic', 'progressBar-homepic')"> {{_("Upload the Home Picture")}}</button>
                    <progress id="progressBar-homepic" value="0" max="100"/>
                  </div>
          </div>
          <div class="upload-block-row">
                  <div class="upload-browse">
                    <input id="logopic" type="file"/>
                    <button id="upload-button" onclick="uploadFileProgress('logopic', 'logopic', 'progressBar-logopic')"> {{_("Upload the Logo Picture")}}</button>
                    <progress id="progressBar-logopic" value="0" max="100"/>
                  </div>
          </div>
        </div>
      </div>  <!-- close upload-container -->


      <p class="spacer"></p>

      <div class="section-title" data-aos="zoom-out">
          <h2>{{_("Update General Settings")}}</h2>
      </div>

      <div class="upload-container">
          <div class="upload-block">
              <p>{{_("General settings")}}</p>
              <div class="general-settings">
                    <div class="input-group mb-2">
                        <span class="input-group-addon col-lg-3 form-label">{{_("Condominium Name")}}:</span>
                        <input type="text" class="form-control col-lg-4" id="condo-name" placeholder='{{_("Ex. Signature Heights Condominium")}}'>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-addon col-lg-3 form-label">{{_("Tagline")}}:</span>
                        <input type="text" class="form-control col-lg-4" id="condo-tagline" placeholder='{{_("Example: Peace of mind lives here")}}'>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-addon col-lg-3 form-label">{{_("Address")}}:</span>
                        <input type="text" class="form-control col-lg-5" id="condo-address" placeholder='{{_("Address of the condominium")}}'>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-addon col-lg-3 form-label">{{_("ZIP")}}:</span>
                        <input type="text" class="form-control col-lg-5" id="condo-zip" placeholder='{{_("ZIP with 3 or 8 digits")}}'>
                    </div>

                    <div class="input-group mb-2">
                        <span class="input-group-addon col-lg-3 form-label">{{_("City & State")}}:</span>
                        <input type="text" class="form-control col-lg-4" id="condo-location" placeholder='{{_("City, State of the condominium location")}}'>
                        <span style="line-height: 40px; padding-left: 3px;" title='{{_("For example, enter Syracuse, NY")}}'><i class="fa fa-question-circle-o"></i></span>
                    </div>

                    <fieldset>
                        <legend>{{_("Home Page Content")}}</legend>
                        <div class="input-group mb-2">
                            <span class="input-group-addon col-lg-3 form-label">{{_("Title")}}:</span>
                            <input type="text" class="form-control col-lg-5" id="home-page-title" placeholder='{{_("Title")}}'>
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-addon col-lg-3 form-label">{{_("Text")}}:</span>
                            <textarea class="form-control col-lg-8 w-75" rows="6" id="home-page-text" placeholder='{{_("Multiline text")}}'></textarea>
                        </div>
                    </fieldset>

                    <div class="spacer"></div>

                    <fieldset>
                        <legend>{{_("About Page Content")}}</legend>
                        <div class="input-group mb-2">
                            <span class="input-group-addon col-lg-3 form-label">{{_("Title")}}:</span>
                            <input type="text" class="form-control col-lg-5" id="about-page-title" placeholder='{{_("Title")}}'>
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-addon col-lg-3 form-label">{{_("Text")}}:</span>
                            <textarea class="form-control col-lg-8 w-75" rows="6" id="about-page-text" placeholder='{{_("Multiline text")}}'></textarea>
                        </div>
                    </fieldset>

                    <div class="spacer"></div>

                    <fieldset>
                        <legend>{{_("Fine Payment Request Text")}}</legend>
                        <div class="input-group mb-2">
                            <span class="input-group-addon col-lg-3 form-label">{{_("PIX Key")}}:</span>
                            <input type="text" class="form-control col-lg-5" id="pix_key" placeholder='{{_("PIX Key")}}'>
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-addon col-lg-3 form-label">{{_("Email Title")}}:</span>
                            <input type="text" class="form-control col-lg-5" id="fine_email_title" placeholder='{{_("Title of the fine notification email")}}'>
                        </div>
                        <div class="input-group mb-2">
                            <span class="input-group-addon col-lg-3 form-label">{{_("Email Text")}}:</span>
                            <textarea class="form-control col-lg-8 w-75" rows="6" id="fine_template" placeholder='{{_("Body of the fine notification email")}}'></textarea>
                        </div>
                    </fieldset>

                    <div class="spacer"></div>
                    <div class="center">
                        <button class="btn btn-primary" onClick="updateSystemSettings()">{{_("Update Settings")}}</button>
                    </div>
              </div> <!-- closes registration-form -->
          </div> <!-- closes "upload-block" -->
      </div>  <!-- close upload-container -->


      <p class="spacer"></p>

      <div class="section-title" data-aos="zoom-out">
        <h2>{{_("Delete documents")}}</h2>
      </div>

      <div class="upload-container">
          <button class="btn btn-primary center" type="button" data-toggle="collapse" data-target="#deletion_maint_section" aria-expanded="false" aria-controls="collapseExample">
            {{_("Click Here to Open/Close the File Deletion Section")}}
          </button>

          <div class="app-container collapse" id="deletion_maint_section">
            <p class="spacer"></p>

            <div class="card card-body">
              <h1>{{_("Links to Documents Elsewhere")}}</h1>
              <div class="app-container">
                  <div class="row">
                      {% for descr, link in links %}
                          <div class="col-1 doc-col">
                              {{descr}} <button id="deletebutton_id" onClick="deleteLink('{{descr}}');">{{_("deletar")}}</button>
                          </div>
                      {% endfor %}
                  </div>
              </div>
              <p class="spacer"></p>

              <h1>{{_("Bylaws Document")}}</h1>
              <div class="app-container">
                  <div class="row">
                      {% for doc in bylaws %}
                          <div class="col-1 doc-col">
                              {{doc}} <button id="deletebutton_id" onClick="deleteFile('docs/bylaws/{{doc}}','{{doc}}');">{{_("deletar")}}</button>
                          </div>
                      {% endfor %}
                  </div>
              </div>
              <p class="spacer"></p>

              <h1>{{_("Other Documents")}}</h1>
              <div class="app-container">
                  <div class="row">
                      {% for doc in otherdocs %}
                          <div class="col-1 doc-col">
                              {{doc}} <button id="deletebutton_id" onClick="deleteFile('docs/other/{{doc}}','{{doc}}');">{{_("deletar")}}</button>
                          </div>
                      {% endfor %}
                  </div>
              </div>
              <p class="spacer"></p>

              <h1>{{_("Open View Documents")}}</h1>
              <div class="app-container">
                  <div class="row">
                      {% for doc in opendocs %}
                          <div class="col-1 doc-col">
                              {{doc}} <button id="deletebutton_id" onClick="deleteFile('opendocs/files/{{doc}}','{{doc}}');">{{_("deletar")}}</button>
                          </div>
                      {% endfor %}
                  </div>
              </div>
              <p class="spacer"></p>

              <h1>{{_("Pictures")}}</h1>
              <div class="app-container">
                  <div class="row">
                      {% for pic in pics %}
                          <div class="col-1 doc-col">
                              {{pic}} <button id="deletebutton_id" onClick="deleteFile('pics/{{pic}}','{{pic}}');">{{_("deletar")}}</button>
                          </div>
                      {% endfor %}
                  </div>
              </div>
              <p class="spacer"></p>

              <h1>{{_("Financial Statements")}}</h1>
              <h2>2023</h2>
              <div class="app-container">
                  <div class="row">
                      {% for doc in findocs2023 %}
                          <div class="col-1 doc-col">
                              {{doc}} <button id="deletebutton_id" onClick="deleteFile('docs/financial/{{doc}}','{{doc}}');">{{_("deletar")}}</button>
                          </div>
                      {% endfor %}
                  </div>
              </div>
              <p class="spacer"></p>

              <h1>{{_("Financial Statements")}}</h1>
              <h2>2024</h2>
              <div class="app-container">
                  <div class="row">
                      {% for doc in findocs2024 %}
                          <div class="col-1 doc-col">
                              {{doc}} <button id="deletebutton_id" onClick="deleteFile('docs/financial/{{doc}}','{{doc}}');">{{_("deletar")}}</button>
                          </div>
                      {% endfor %}
                  </div>
              </div>
              <p class="spacer"></p>

              <h1>{{_("Financial Statements")}}</h1>
              <h2>2025</h2>
              <div class="app-container">
                  <div class="row">
                      {% for doc in findocs2025 %}
                          <div class="col-1 doc-col">
                              {{doc}} <button id="deletebutton_id" onClick="deleteFile('docs/financial/{{doc}}','{{doc}}');">{{_("deletar")}}</button>
                          </div>
                      {% endfor %}
                  </div>
              </div>
            </div> <!-- close card-body -->
          </div> <!-- close app-container -->
      </div> <!-- close upload-container -->



      <div style="height: 40px;"></div>
      <div class="section-title" data-aos="zoom-out">
        <h2>{{_("General Maintenance")}}</h2>
      </div>

      <div class="upload-container">
          <button class="btn btn-primary center" type="button" data-toggle="collapse" data-target="#announc_maint_section" aria-expanded="false" aria-controls="collapseExample">
            {{_("Click Here to Open/Close the Announcement Maintenance Section")}}
          </button>

          <div class="app-container collapse" id="announc_maint_section">
            <p class="spacer"></p>
            <div class="card card-body">

              <div class="announc-bullets">
                <ul>
                  <li>{{_("To <b>add an announcement</b>: type the text at the top of the box below.")}}</li>
                  <li>{{_("The most recent announcement appears first in the list.")}}</li>
                  <li>{{_("To <b>delete an announcement</b>: delete the corresponding line(s) from the box below.")}}</li>
                </ul>
              </div>

              <div class="announcs-div">
                  <textarea style="width: 100%;" id="announctextfield_id" name="announcbodyfield" rows="12"></textarea>
              </div>

              <div class="buttonbox">
                <div class="innerbuttonbox">
                    <button id="announcsbutton_id" onClick="saveAnnouncs();">{{_("Save Announcements")}}</button>
                </div>
              </div>

            </div> <!-- close card-body -->
          </div> <!-- close app-container -->

          <p class="spacer"></p>








          <button class="btn btn-primary center" type="button" data-toggle="collapse" data-target="#bulk_email_section" aria-expanded="false" aria-controls="collapseExample">
            {{_("Click Here to Open/Close the Bulk Email Section")}}
          </button>

          <div class="app-container collapse" id="bulk_email_section">
            <p class="spacer"></p>
            <div class="card card-body">
              <div class="announc-instr">
                  {{_("The form below is <b>optional</b>")}}.
                  {{_("It should be used only when you want to send an email message to all registered residents after an upload is made")}}.
              </div>

              <p>

              <center class="announc-box">
                  <div class="inputboxline">
                    <div class="inputcaptionbox">
                      <div class="inputcaptioncontent">{{_("Email Title")}}:</div>
                    </div>

                    <div class="inputcontrolbox">
                      <div class="inputcontrolcontent">
                        <input id="titlefield_id" name="emailtitlefield"></input>
                      </div>
                    </div>
                  </div>

                  <div class="textareaboxline">
                    <div class="inputcaptionbox">
                      <div class="inputcaptioncontent">{{_("Email Text")}}:</div>
                    </div>
                    <div class="inputcontrolbox">
                      <div class="inputcontrolcontent">
                          <textarea id="emailtextfield_id" name="emailbodyfield" rows="10"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="buttonbox">
                    <div class="innerbuttonbox">
                        <button id="emailbutton_id" onClick="">[{{_("feature enabled later")}}]</button>
                      </div>
                  </div>

                  <div class="center-bar">
                    <div id="email-progress-bar" class="progress-bar">
                      <div id="status-bar" class="status-bar">1%</div>
                    </div>
                  </div>
              </center>

            </div> <!-- close card-body -->
          </div> <!-- close app-container -->
      </div> <!-- close upload-container -->
  </div> <!-- closes content -->
</div> <!-- closes main -->

{% include "hidden_fields.html" %}
{% endblock %}

{% block afterbody %}
   <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}
