@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

/* root definitions */
:root {
  --sidebar-width: 200px;
  --radius: 10px;
  --padding: 10px;
  --height-vh: 95vh;
  --email-text-color: rgb(15, 66, 161);
  --email-caption-color: rgb(15, 66, 161);
  --email-caption-size: 15px;
  --button-hover-bgcolor: rgb(180, 204, 248);
  --button-hover-textcolor: rgb(16, 60, 160);
  --button-border-radius: 6px;
  --main-color: hsl(201, 54%, 46%);
}

.wrapper {
  display: flex;
  width: 100%;
}

/* The button div is initially hidden, but visible on resizing (see media query below) */
.init-hidden {
  display: none;
}    

/* container-fluid is defined somewhere else. Here I just add color to it */
.container-fluid {
  /*color: hsl(201, 54%, 46%);*/
  color:hsl(0, 0%, 100%);
  font-weight: bold;
  font-size: 0.8em;
}


/*--------------------------------------------------------------
# registration and maintenance of residents list
--------------------------------------------------------------*/
.passrow {
  margin: 3px;
  font-size: 14px;
  width: 100%;
  padding: 5px;
}

.aright {
  display: inline-block;
  width: 47%;
  text-align: right;
}

.aleft {
    display: inline-block;
    text-align: left;
}


.align-right-fixed {
  display: inline-block;
  width: 160px;
  text-align: right;
}

.align-left-fixed {
    display: inline-block;
    text-align: left;
}

.button-div {
  margin-top: 4px;
  margin-bottom: 8px;
  height: 30px;
}

.center {
  padding-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.table-div {
  width: auto; 
  height: 180px;
  overflow-y: auto;
  border: 1px solid #293d3d;
  border-radius: 6px;
}

.announcs-div {
  width: auto; 
  height: 280px;
  overflow-y: auto;
}


table {
  border-collapse: collapse;
  /*width: 100%;*/
  margin-left: 6px;
  margin-right: 6px;
  /*font-family: 'Sans Serif';*/
  font-size: 12px;
  color: #293d3d;
}

th, td {
  height: 12px;
  text-align: left;
  padding-left: 8px; 
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

tr:first-child {
  position: sticky;
  top: 0;
}

th {
  background-color: #04AA6D;
  color: white;
}

li:not(:last-child) {
  margin-bottom: 8px;
}


/*--------------------------------------------------------------
# sidebar and its child elements
--------------------------------------------------------------*/
#sidebar {
  width: var(--sidebar-width);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background-color: #444;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -200px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar ul.components {
  padding: 5px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding-top: 2px;
  padding-left: 16px;
  padding-bottom: 2px;
  font-size: 0.5em;
  display: block;
  margin: 4px;
}

#sidebar ul li a:hover {
  color: darkslateblue;
  background: #fff;
  margin: 4px;
  border-radius: 3px;
}

#sidebar ul li.active>a, 
a[aria-expanded="true"] {
  color: darkorange;
  background: #fdfdfd;
  margin: 4px;
  border-radius: 3px;
}

.sidebar-logo-area {
  width: 100%;
  text-align: center;
  border-radius: 4;
  margin-top: 10px;
  margin-bottom: 5px;
/*  background-color: pink; */
/*  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
}

.sidebar-close-btn {
  color: white;
  margin-right: 5px;
}

a[data-toggle="collapse"] {
  position: relative;
}

.navbar {
/*  padding: 15px 10px;*/
  background: #fff;  
  border: none;
  border-radius: 0;
/*  margin-bottom: 4px;*/
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-img {
  border-radius: 8px;
  height: 80px;
  line-height: 70px; /* center text vertically */
  background-image: url("/img/building.png");
  background-color:rgb(167, 167, 136);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
  content and its child elements
----------------------------------------------------- */
.content {
  width: calc(100% - var(--sidebar-width));
  padding: 10px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

.content.active {
  width: 100%;
}

.content p {
  font-size: 16px;
}


/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #444;
  overflow-x: hidden;
  padding-top: 20px;
}

/* this will replace bootstrap default hover color for nav-link */
.nav-link:hover {
  color: white;
}

.nav-link {
  height: 22px;
}

.main {
  margin-left: var(--sidebar-width); /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.main p {
  font-size: 16px;
}

.flash-message {
  font-size: 18px;
  color: red;
}

/*--------------------------------------------------------------
# home
--------------------------------------------------------------*/
.home-body {
  /*  background-color: #F2F2F2; */
  padding: 18px 8px 18px 8px; /* top,right,bottom,left */
  color: hsl(201, 54%, 46%);
  font-family: "Federo", cursive;
  font-size: 20px;
  margin: 12px;
}

.home-body p {
  font-size: 28px;
}

/*--------------------------------------------------------------
# about
--------------------------------------------------------------*/
.about-body {
/*  background-color: #F2F2F2; */
  padding: 18px 8px 18px 8px; /* top,right,bottom,left */
  color: hsl(201, 54%, 46%);
  font-family: "Federo", cursive;
  font-size: 20px;
  margin: 12px;
}

.about-style {
  margin: 12px;
}

/*
.about-body p {
   font-size: 28px;
   padding-left: 6px;
   border-radius: 6px;
   color: hsl(201, 72%, 30%);
   background-color: hsl(219, 90%, 92%);
   min-height: 15px;
}
*/

.about-body p {
  font-size: 28px;
}

.about-body h4 {
  font-size: 20px;
  font-style: bold;
  text-align: center;
  padding-left: 6px;
  border-radius: 6px;
  min-height: 14px;
  color: hsl(0, 0%, 100%); 
  background-color: hsl(219, 49%, 56%);
}

.map-responsive {
  border-radius: 6px;
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  border-width: 1px;
}

.map-responsive iframe {
  left:0;
  top:0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.logo-div {
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 6px;
}


/*--------------------------------------------------------------
# announcements
--------------------------------------------------------------*/
/*
.announcs-container {
  background-color: #2196F3;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 23%);
  /*grid-template-rows: auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.announcs-container > div {
  background-color: rgb(223, 232, 235);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
*/


.app-container {
/*  max-width : 1050px; */
  margin-left: 16px;
  margin-right: 16px;
  font-size: 14px;
}

.announc-col {
   /*min-width: 88px;*/
   min-width: 220px;
   text-align: center;
   background-color: rgb(223, 232, 235);
   margin-top: 15px;
   margin-right: 10px;
   border-radius: 8px;
   padding-top: 5px;
   padding-bottom: 5px;
}

.announc-img {
  /*background-color: goldenrod;*/
  text-align: center;
  width: 80px;
  height: 80px;
}

/*--------------------------------------------------------------
# documents
--------------------------------------------------------------*/
.doc-col {
  /*min-width: 88px;*/
  min-width: 180px;
  line-height: 0.9rem;
  text-align: center;
  background-color: rgb(168, 214, 230);
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px; 
}

.doc-link {
  font-size: 16px;
  color: blue;
}

.bottom {
  position: absolute;
  bottom: 0px;
  font-size: 10px;
  color: darkgray;
}


/*--------------------------------------------------------------
# upload
--------------------------------------------------------------*/
.upload-container{
  margin-left: 4px;
  margin-right: 4px;
  font-size: 14px;
}

.project-link {
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 1.3em;
}

.upload-browse {
  text-align: center;
/*  max-width: 880px; */
  padding: 4px;
  border: solid 1px #555;
/*  background: hsl(186, 35%, 89%); */
  background: #cceef9;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 8px;
}

.upload-browse input {
  margin-top: 1px;
  margin-bottom: 1px;
  min-height: 28px;
  vertical-align: middle;
  max-width: 200px;
}

.upload-browse button {
  margin-top: 1px;
  margin-bottom: 1px;
  width: 130px;  
  min-height: 28px;
  vertical-align: middle;
}

/* these are for the file upload progress bar */
.upload-browse progress {
/*  display: none; */
  margin-top: 1px;
  margin-bottom: 1px;
  width: 200px;
  min-height: 20px;
  vertical-align: middle;
}

.upload-block {
  background: hsl(203, 39%, 94%);
  border-radius: 6px;
}

.upload-block-row {
  padding: 20px;
}


.upload-block p {
  /*background: hsl(203, 10%, 84%);*/
  font-size: 20px;
  font-weight: 550;
  letter-spacing: 2px;
  color:hsl(201, 72%, 30%);
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 1px;
}

.announc-outer-box {
  font-size: var(--email-caption-size);
  border-radius: 10px;
  background-color: hsl(203, 39%, 84%);
  padding: 15px;
  text-align: center;
  display: grid;
  margin: 15px 10% 15px 10%; /* top,right,bottom,left */
  grid-template-columns: auto; 
  grid-template-rows: 50px auto;
}

.announc-instr {
  padding: 0px;
  color: var(--email-caption-color);
}

div.announc-bullets li {
  font-size: 12px;
  margin-bottom: 0px;
}

.announc-box {
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 80px auto 80px;
}
  
.inputbox {
  /*background: lightblue;*/
  grid-template-rows: auto;  
}

.inputboxtitle {
  background: grey;
  height: 50px;
  line-height: 50px; /* center text vertically */
  margin: 10px;
  border-radius: var(--radius);
  text-align: center;
}

.inputboxline {
/*  background: bisque; */
  padding: 5px;
  margin: 10px;
  display: grid;
  grid-template-columns: 100px auto;
}

.textareaboxline {
/*  background: bisque; */
  padding: 5px;
  margin: 10px;
  display: grid;
  grid-template-columns: 100px auto;
}

.inputcaptionbox {
  /*background: dodgerblue;*/
  text-align: right;
  margin-right: 5px;
  display: table;
}

.inputcaptioncontent {
  color: var(--email-caption-color);
  display: table-cell; /* parent div needs to be display:table */
  vertical-align: middle; /* for vertical:middle to work */ 
}

.inputcontrolbox {
  /*background: dodgerblue;*/
  text-align: left;
  display: flex;
}

.inputcontrolcontent {
  display: table-cell; /* parent div needs to be display:table */
  vertical-align: middle; /* for vertical:middle to work */ 
  flex: 1;
}

#titlefield_id {
  width: 100%;
}

#emailtextfield_id {
  width: 100%;
}

button {
  color: var(--email-caption-color);
  border-radius: var(--button-border-radius);
}

button:hover {
  background-color: var(--button-hover-bgcolor);
  color: var(--button-hover-textcolor);
}

.inputbox {
  /*background: lightblue;*/
  grid-template-rows: auto;  
}

.inputboxtitle {
  /*background: grey;*/
  height: 50px;
  line-height: 50px; /* center text vertically */
  margin: 10px;
  border-radius: var(--radius);
  color: white;
  text-align: center;
}

.inputboxline {
  /*background: bisque;*/
  height: 60px;
  padding: 5px;
  margin: 10px;
  display: grid;
  grid-template-columns: 100px auto;
}

.inputcaptionbox {
  /*background: dodgerblue;*/
  text-align: right;
  color: white;
  margin-right: 5px;
  display: table;
}

.inputcaptioncontent {
  display: table-cell; /* parent div needs to be display:table */
  vertical-align: middle; /* for vertical:middle to work */ 
}

.inputcontrolbox {
  /*background: dodgerblue;*/
  text-align: left;
  display: table;
}

.inputcontrolcontent {
  display: table-cell; /* parent div needs to be display:table */
  vertical-align: middle; /* for vertical:middle to work */ 
}

.buttonbox {
  /*background: darkseagreen;*/
  display: table; /* required for the inner div to expand 100% */
}

.innerbuttonbox {
  /*background: grey;*/
  border-radius: 30px; /* this is to show the background div*/
  color: white;
  text-align: center;
  display: table-cell; /* parent div needs to be display:table */
  vertical-align: middle; /* for vertical:middle to work */ 
}  
  

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: #fff;
  /*padding: 60px 0;*/
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a {
  transition: color 0.3s;
  margin: 0 3px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: rgba(239, 102, 3, 0.8);
  transition: ease-in-out 0.3s;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a:hover {
  background: #fc8129;
}

.team .member .social i {
  font-size: 18px;
  line-height: 0;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
 /* color: #2a2c39; */
  color: darkgreen;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: darkgoldenrod;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}


/*--------------------------------------------------------------
   Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

/*
.section-title {
  padding-top: 10px;
  padding-bottom: 10px;
}
*/

.bottomRightShadow {
  padding: 20px;
  margin: 20px;
  color: hsl(201, 54%, 46%); /* used for font color */
  border-radius: 10px;
  border: solid 1px #555;
  background-color: #F2F2F2;;
  box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
  -moz-box-shadow: 10px 10px  5px rgba(0,0,0,0.6);
  -webkit-box-shadow: 6px 6px  5px rgba(0,0,0,0.3);
  -o-box-shadow: 10px 10px  5px rgba(0,0,0,0.3);
}

.color-darkgrey {
  color: lightseagreen;
}

.spacer {
  height: 10px;
}

.no-item-msg {
  margin-left: 20px;
  font-size: 14px;
}

.fin-block {
  margin-left: 20px;
}

.fin-block a {
  margin: 0px 40px 0px 0px; /* top,right,bottom,left */
}


.link-row {
  margin: 0px 0px 0px 0px;
  height: 24px;
}

.upload-row {
  margin: 0px 0px 0px 0px;
  height: 34px;
  font-size: 12px;
}

.content h2 {
  font-size: 18px;
  font-weight: 500;
  /*padding-top: 20; */
  /*line-height: 1px;*/
  margin: 20px 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: darkorange;
  font-family: "Poppins", sans-serif;
}

.content h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #fd9042;
  margin: 4px 10px;
}

.content p {
  padding-top: 20;
}

.content h1 {
  margin: 0px 0px -10px 0px; /* top,right,bottom,left */
  font-size: 18px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  color: #2a2c39;
}
/*
.carousel {
    background: #2f4357;
    margin-top: 20px;
}

.carousel-item {
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load 
}
*/
/*
img {
  width: 640px;
  height: 480px;
}
*/
/*
.img-fit {
  max-width: 100%;
  max-height: 100%; 
  object-fit: contain;
  border-width: 1;
  border-color: red;
}
*/

.center {
  margin: auto;
}

.carousel {
  width: 80%;
  height: 60%;
  position: relative;
}

.carousel-item img {
/*  object-fit: contain; */
  width: 80%;
  height: 60%;
}

#carousel-thumbs {
  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}
#carousel-thumbs {
  border: 5px solid transparent;
  cursor: pointer;
}
#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}
#carousel-thumbs .selected img {
  border-color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

@media (max-width: 768px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
  #sidebar {
    margin-left: -200px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #menuButtonOpen span {
    display: none;
  }
  .content {
    width: 100%;
  }
  .content.active {
    width: calc(100% - var(--sidebar-width));
  }
  .init-hidden {
    display: block;
  }    
}

#dropbox {
    border: 2px dashed #000000;
    padding: 20px;
}

#dropbox.active {
    border: 4px dashed #FF0000;
}

.progress-trough {
    border: 1px solid #000000;
    height: 24px;
    width: 100%;
    position: relative;
}

.progress-bar {
    width: 50%;
    height: 100%;
    background-color: #0099FF;
}

.menu-userid {
    font-size: 10px;
    width: 100%;
    text-align: center;
}


/* these are for the email sending progress bar */
.center-bar {
  margin: auto;
  width: 80%;
}

.progress-bar {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
}

.status-bar {
  width: 1%;
  line-height: 24px; /* center text vertically */
  background-color: #1589FF;
  text-align: center; /* center text horizontally */
  color: white;
  border-radius: 5px;
}


.general-settings .item {
	border-radius: 6px;
    margin-bottom: 8px;
    padding: 10px 20px;
}

.general-settings .field {
	border-radius: 6px;
    margin-bottom: 4px;
}

.general-settings .textarea {
	height: 140px;
}

.form-label {
    display: inline-block;
    text-align: right;
    width: 15%;
    font-size: 17px;
}

fieldset {
    background-color: #cceef9;
    padding: 0px 5px 5px 5px;
    border: 1px solid blue;
    border-radius: 8px;
    margin-left: 3%;
    margin-right: 3%;
}

legend {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    font-style: bold;
    width: auto;
}



/*
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}

@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}
*/
