.right-aligned {
    text-align: right;
    width: 110px;
}

/*
//  define styling for buttons
.button {
    text-decoration: none;
    border: none;
    padding: 3px 10px 3px 10px; // top right bottom left
    font-size: 14px;
    background-color: #3997fa;
    color: #fff;
    height: 24px;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

// Adding transformation when the button is active
.button:active {
    border: none;
    text-decoration: none;
    outline: none;
    //Scaling button to 0.98 to its original size
    transform: scale(0.98);
    //Lowering the shadow
    box-shadow: 3px 2px 22px 1px #7e8893;
}

//makes button's look remain the same as before pressing
.button:focus {
    border: none;
    text-decoration: none;
    outline: none;
}

.button:hover {
    background: #2476d1;
    color: #fff;
}

button:disabled, button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.larger-button.button {
    padding: 3px 10px 3px 10px; // top right bottom left
    height: 34px;
}
*/


.header {
    margin-bottom: 15px;
    font-size: 14px;
}

