.profile-block {
  padding-top: 12px;
  background: hsl(203, 39%, 94%);
  border-radius: 6px;
  font-size: 14px;
  font-weight: 300;
}

.right-aligned {
    text-align: right;
    width: 120px;
}

fieldset {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #cceef9;
    padding: 5px 10px;
    border: 1px solid blue;
    border-radius: 8px;
}

legend {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
    font-style: bold;
    width: auto;
}

/*  define styling for input boxes */
input {
    margin-right: 15px;
    font-size: 15px;
    line-height: 20px;
    border-radius: 4px;
    border-color: blue;
    border-width: 1px;
    /*box-shadow: 4px 4px 2px lightgray;*/
    font-family: inherit;
}

input:focus {
    outline: none !important;
    border: 1px solid blue;
    box-shadow: 0 0 10px #c17ac8;
    /*background: lightblue;*/
}

.unit_input {
    width: 80px;
}

.email_input {
    width: 250px;
}

.name_input {
    width: 240px;
}

.phone_input {
    width: 130px;
}

.header {
    margin-bottom: 15px;
    font-size: 14px;
}

.unit-input {
    width: 60px;
}

.userid-input {
    width: 100px;
}

.name-input {
    width: 210px;
}

.email-input {
    width: 250px;
}

.phone-input {
    width: 120px;
}

.plate-input {
    width: 130px;
}

.color-input {
    width: 100px;
}
